<section class="about-section section" id="about-me">
  <div class="container about-container">
    <h2 class="about-title">ABOUT <span class="one-line">ME</span></h2>

    <picture>
      <source
        srcset="
          ./img/about/about-desktop-1x.jpg 1x,
          ./img/about/about-desktop-2x.jpg 2x
        "
        media="(min-width:1280px)"
      />
      <source
        srcset="
          ./img/about/about-tablet-1x.jpg 1x,
          ./img/about/about-tablet-2x.jpg 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./img/about/about-mobile-1x.jpg 1x,
          ./img/about/about-mobile-2x.jpg 2x
        "
        media="(max-width:767px)"
      />
      <img
        class="about-foto"
        src="./img/about/about-desktop-1x.jpg"
        alt="Lloyd Jefferson"
        width="320"
      />
    </picture>

    <div class="about-bio">
      <h3 class="about-subtitle">BIO</h3>

      <div class="bio-text">
        <p class="bio-paragraph mobile-only">
          I'm Lloyd Jefferson, a talented<br />
          programmer specializing<br />
          in software development. My<br />
          expertise spans various programming<br />
          languages and technologies, and I<br />
          am dedicated to continually<br />
          enhancing my skills. I thrive on<br />
          seeking unconventional and creative<br />
          solutions to problems, leveraging a<br />
          high level of analytical skills to<br />
          effectively tackle even the most<br />
          challenging tasks.
        </p>
        <p class="bio-paragraph mobile-only">
          Adaptable to both independent and<br />
          team-oriented work, I collaborate<br />
          seamlessly with colleagues,<br />
          exchanging ideas and finding optimal<br />
          solutions. My professional maturity<br />
          enables me to navigate challenges<br />
          and stressful situations with a calm<br />
          demeanor, maintaining a consistently<br />
          high quality of work. Committed to<br />
          self-improvement, I actively engage<br />
          in studying new technologies and<br />
          practices to stay current with the<br />
          latest innovations in the field.<br />
        </p>

        <p class="bio-paragraph tablet-only">
          I'm Lloyd Jefferson, a talented<br />
          programmer specializing<br />
          in software development. My expertise<br />
          spans various programming languages<br />
          and technologies, and I am dedicated<br />
          to continually enhancing my skills. I<br />
          thrive on seeking unconventional and<br />
          creative solutions to problems,<br />
          leveraging a high level of analytical<br />
          skills to effectively tackle even the<br />
          most challenging tasks.
        </p>

        <p class="bio-paragraph tablet-only">
          Adaptable to both independent and<br />
          team-oriented work, I collaborate<br />
          seamlessly with colleagues, exchanging<br />
          ideas and finding optimal solutions. My<br />
          professional maturity enables me to<br />
          navigate challenges and stressful<br />
          situations with a calm demeanor,<br />
          maintaining a consistently high quality<br />
          of work. Committed to self-<br />
          improvement, I actively engage in<br />
          studying new technologies and<br />
          practices to stay current with the<br />
          latest innovations in the field.<br />
        </p>
        <p class="bio-paragraph desktop-only">
          I'm Lloyd Jefferson, a talented programmer specializing<br />
          in software development. My expertise spans various<br />
          programming languages and technologies, and I am<br />
          dedicated to continually enhancing my skills. I thrive on<br />
          seeking unconventional and creative solutions to<br />
          problems, leveraging a high level of analytical skills to<br />
          effectively tackle even the most challenging tasks.
        </p>
        <p class="bio-paragraph desktop-only">
          Adaptable to both independent and team-oriented work,<br />
          I collaborate seamlessly with colleagues, exchanging<br />
          ideas and finding optimal solutions. My professional<br />
          maturity enables me to navigate challenges and stressful<br />
          situations with a calm demeanor, maintaining a<br />
          consistently high quality of work. Committed to self-<br />
          improvement, I actively engage in studying new<br />
          technologies and practices to stay current with the<br />
          latest innovations in the field.<br />
        </p>
      </div>
    </div>
    <div class="about-tab">
      <div class="about-educ">
        <h3 class="about-subtitle">EDUCATION</h3>
        <ul class="about-list">
          <li class="about-list-item">
            <p class="about-text about-item">
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </p>
          </li>
          <li class="about-list-item">
            <p class="about-text about-item">
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </p>
          </li>
          <li class="about-list-item">
            <p class="about-text about-item">
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </p>
          </li>
        </ul>
      </div>
      <div class="about-role">
        <h3 class="about-subtitle">ROLE</h3>
        <ul class="about-list">
          <li class="about-list-item">
            <p class="about-text about-item">Frontend development</p>
          </li>
          <li class="about-list-item">
            <p class="about-text about-item">HeadlessCMS, Wordpress</p>
          </li>
          <li class="about-list-item">
            <p class="about-text about-item">Blender (enjoy)</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
