<section class="section">
  <div class="container faq-container">
    <div class="faq-title-container">
      <h2 class="faq-title">
        frequently asked <span class="span">question</span>
      </h2>

      <img src="./img/faq-background.png" alt="dots" class="faq-image" />
    </div>

    <ul class="faq-list">
      <li class="faq-item ac">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger" id="ac-trigger-first">
            <span class="text faq-item-title"
              >What programming languages ​​are most often used in your
              project?</span
            >
            <svg class="arrow-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-arrow-bottom"></use>
            </svg>
          </button>
        </h3>
        <p class="faq-item-answer ac-panel">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
      </li>
      <li class="faq-item ac">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger" id="ac-trigger-second">
            <span class="text faq-item-title"
              >What are the deadlines for the project?</span
            >
            <svg class="arrow-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-arrow-bottom"></use>
            </svg>
          </button>
        </h3>
        <p class="faq-item-answer ac-panel">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </p>
      </li>
      <li class="faq-item ac">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger" id="ac-trigger-third">
            <span class="text faq-item-title"
              >What payment methods do you accept?</span
            >
            <svg class="arrow-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-arrow-bottom"></use>
            </svg>
          </button>
        </h3>
        <p class="faq-item-answer ac-panel">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </p>
      </li>
      <li class="faq-item ac">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger" id="ac-trigger-fourth">
            <span class="text faq-item-title">How can I contact you?</span>
            <svg class="arrow-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-arrow-bottom"></use>
            </svg>
          </button>
        </h3>
        <p class="faq-item-answer ac-panel">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
      </li>
      <li class="faq-item ac">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger" id="ac-trigger-fifth">
            <span class="text faq-item-title"
              >Do you provide advice or support?</span
            >
            <svg class="arrow-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-arrow-bottom"></use>
            </svg>
          </button>
        </h3>
        <p class="faq-item-answer ac-panel">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </p>
      </li>
      <li class="faq-item ac">
        <h3 class="ac-header">
          <button type="button" class="ac-trigger" id="ac-trigger-sixth">
            <span class="text faq-item-title"
              >What does the process of developing a software product look like
              from idea to implementation?</span
            >
            <svg class="arrow-icon" width="24" height="24">
              <use href="./img/icons.svg#icon-arrow-bottom"></use>
            </svg>
          </button>
        </h3>
        <p class="faq-item-answer ac-panel">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </p>
      </li>
    </ul>
  </div>
</section>
