<div class="mobile-menu" data-menu>
            <div class="menu-modal-head container">
                <a href="./index.html" class="logo header-logo">Lloyd<span class="span">Jefferson.</span></a>
                <button type="button" class="close-button" data-menu-close>
                    <svg class="close-icon" width="32" height="32">
                        <use href="./img/icons.svg#icon-cross"></use>
                    </svg>
                </button>
            </div>
    <div class="mobile-menu-container container">
        <nav class="mobile-menu-nav">
            <ul class="menu-nav-list">
                <li><a class="nav-menu-link" href="#about-me">About me</a></li>
                <li><a class="nav-menu-link" href="#Projects">Projects</a></li>
                <li><a class="nav-menu-link" href="#contacts">Contacts</a></li>
            </ul>
        </nav>
    </div>
</div>