<div class="mobile-menu" data-menu>
    <div class="mobile-menu-container">
        <div class="menu-modal-head">
            <h3 class="modal-menu-logo">LLOYD <span class="modal-menu-span">JEFFERSON.</span></h3>

            <button type="button" class="close-button" data-menu-close>
                <svg class="close-icon" width="16" height="16"> 
                    <use href="/src/img/icons.svg#icon-arrow-diagonal"></use>
                </svg>
            </button>
        </div>

        <nav class="mobile-menu-nav">
            <ul class="menu-nav-list">
                <li><a class="nav-menu-link" href="#">About me</a></li>
                <li><a class="nav-menu-link" href="#Projects">Projects</a></li>
                <li><a class="nav-menu-link" href="#">Contacts</a></li>
            </ul>
        </nav>
    </div>
</div>