<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a href="" class="logo header-logo"
        >Lloyd<span class="span">Jefferson.</span></a
      >

      <button type="button" class="theme-btn" id="theme-btn" data-toggle-theme>
        <svg class="theme-icon" width="20" height="20">
          <use href="../img/icons.svg#icon-light"></use>
        </svg>
      </button>

      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="#about-me" class="link header-nav-link">About me</a>
        </li>
        <li class="header-nav-item">
          <a href="#projects" class="link header-nav-link">Projects</a>
        </li>
        <li class="header-nav-item">
          <a href="#contacts" class="link header-nav-link">Contacts</a>
        </li>
      </ul>

      <button type="button" class="burger-btn" id="burger-btn" data-menu-open>
        <svg class="burger-icon" width="32" height="32">
          <use href="../img/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
