<section class="hero">
    <div class="container">
        <h1 class="hero-title">Hello, I am <span class="hero-title-span">Fullstack Developer</span></h1>
        <div class="hero-div-link">
            <a href="">ORDER THE PROJECT</a>
        </div>
    
        <p class="hero-text">I WORK WITH PEOPLE ALL OVER THE WORLD TO CREATE <span class="hero-text-span">IMPRESSIVE</span>
            AND <span class="hero-text-span">FUNCTIONAL WEBSITES</span> THAT REFLECT EACH CLIENT'S UNIQUE PERSONALITY.</p>
        <ul class="hero-soc-links-container">
            <li><a href="https://www.instagram.com/goitclub/">Instagram</a></li>
            <li><a href="https://www.facebook.com/goITclub/">Facebook</a></li>
            <li><a href="https://www.linkedin.com/school/goit-start-your-career-in-it/posts/?feedView=all">Linkedin</a></li>
            <li><a href="https://mikhailovak.github.io/fullstack-portfolio-goit/">Github</a></li>
        </ul>
    </div>
</section>