<section class="section hero">
    <div class="container hero-container">
        <h1 class="hero-title">Hello, I am <picture>
            <source srcset="./img/hero/hero-avatar-1x.jpg 1x, ./img/hero/hero-avatar-2x.jpg 2x" type="image/jpeg">
            <img class="hero-avatar" src="./img/hero/hero-avatar-1x.jpg" alt="Avatar">
        </picture> <span class="span">Fullstack Developer</span></h1>

        <div class="hero-wrapper">
            <div class="hero-div-link">
                <div class="hero-link-element"></div>
                <svg class="order-project-arrow" width="28" height="28">
                    <use href="./img/icons.svg#icon-arrow"></use>
                </svg>
                <a href="">ORDER THE PROJECT</a>
            </div>
        
            <p class="hero-text">I WORK WITH PEOPLE ALL OVER THE WORLD TO CREATE <span class="span">IMPRESSIVE</span>
                AND <span class="hero-text-span">FUNCTIONAL WEBSITES</span> THAT REFLECT EACH CLIENT'S UNIQUE PERSONALITY.</p>
        </div>

            <div class="hero-soc-links-bcg">
                <ul class="hero-soc-links-container">
                    <li><a href="https://www.instagram.com/goitclub/">Instagram</a></li>
                    <li><a href="https://www.facebook.com/goITclub/">Facebook</a></li>
                    <li><a href="https://www.linkedin.com/school/goit-start-your-career-in-it/posts/?feedView=all">Linkedin</a></li>
                    <li><a href="https://mikhailovak.github.io/fullstack-portfolio-goit/">Github</a></li>
                </ul>
    </div>
</section>