<div class="modal-overlay" id="modal-overlay">
    <div class="modal">
      <button type="button" class="close-button modal-close-btn" id="modal-close-btn">
        <svg class="close-icon" width="32" height="32"> 
            <use href="./img/icons.svg#icon-cross"></use>
        </svg>
    </button>
      <p class="modal-title">Thank you for your interest in cooperation!</p>
      
      <p class="modal-message">
        The manager will contact you shortly to discuss further details and opportunities for cooperation. Please stay in touch.
      </p>
    </div>
  </div>