<section class="reviews">
  <div class="container reviews-container">
    <h2 class="reviews-title">reviews</h2>

    <div class="swiper">
      <ul class="swiper-wrapper" id="reviewsGallery"></ul>

      <!-- This is pagination -->
      <!-- <div class="swiper-pagination"></div> -->

      <div class="reviews-navigation">
        <div class="swiper-button-prev">
          <svg class="reviews-navigation-prev-icon">
            <use xlink:href="./img/icons.svg#icon-arrow-gray"></use>
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg class="reviews-navigation-icon">
            <use xlink:href="./img/icons.svg#icon-arrow-gray"></use>
          </svg>
        </div>
      </div>

      <!-- This is scrollbar -->
      <!-- <div class="swiper-scrollbar"></div> -->
    </div>
  </div>
</section>
