<section class="section-together section" id="contacts">
  <div class="container work-together-container">
    <div class="work-together-section-left">
      <h2 class="section-title work-together-title">
        let’s
        <span class="span text-split letters-fade-in-random"
          >work together</span
        >
      </h2>
      <div class="work-together-decor"></div>
      <p class="work-together-text">
        Contact me to transform your ideas into exceptional solutions.
      </p>
      <ul class="work-together-list">
        <li class="work-together-item">
          <svg
            class="work-together-icon"
            width="20"
            height="20"
            aria-label="Phone icon"
            role="img"
          >
            <use href="./img/icons.svg#icon-phone"></use>
          </svg>
          <a href="tel:+380904567890" class="link-hover work-together-link"
            >+38 090 456 78 90</a
          >
        </li>
        <li class="work-together-item">
          <svg
            class="work-together-icon"
            width="20"
            height="20"
            aria-label="Mail icon"
            role="img"
          >
            <use href="./img/icons.svg#icon-mail"></use>
          </svg>
          <a
            href="mailto:lloydjefferson@gmail.com"
            class="link-hover work-together-link"
            >lloydjefferson@gmail.com</a
          >
        </li>
        <li class="work-together-item">
          <svg
            class="work-together-icon"
            width="20"
            height="20"
            aria-label="Location icon"
            role="img"
          >
            <use href="./img/icons.svg#icon-location"></use>
          </svg>
          <a href="#" class="link-hover work-together-link">USA, New York</a>
        </li>
      </ul>
    </div>
    <div class="work-together-section-right">
      <form class="work-together-form">
        <input
          class="work-together-input"
          name="email"
          type="email"
          placeholder="Your email*"
          pattern="[\-a-zA-Z0-9~!$%^&amp;*_=+\}\{'?]+(\.[\-a-zA-Z0-9~!$%^&amp;*_=+\}\{'?]+)*@[a-zA-Z0-9_][\-a-zA-Z0-9_]*(\.[\-a-zA-Z0-9_]+)*\.[cC][oO][mM](:[0-9]{1,5})?"
          id="enter-email"
          autocomplete="email"
          required
        />
        <label for="enter-email" class="visually-hidden">Enter email</label>
        <svg
          class="work-together-success"
          width="14"
          height="14"
          aria-hidden="true"
        >
          <use href="./img/icons.svg#icon-success"></use>
        </svg>
        <p class="work-together-errorInput">Invalid email, try again</p>
        <textarea
          class="work-together-message"
          name="message"
          placeholder="Message"
          minlength="10"
          id="enter-message"
          autocomplete="off"
          required
        ></textarea>
        <label for="enter-message" class="visually-hidden">Enter message</label>
        <p class="work-together-errorMessage">The field must be filled</p>
        <button
          class="work-together-submit"
          type="submit"
          aria-label="Send message"
        >
          SEND MESSAGE
        </button>
      </form>
      <span class="work-together-loader is-hide" aria-hidden="true"></span>
    </div>
    <div
      class="modal-overlay"
      id="modal-overlay"
      role="dialog"
      aria-modal="true"
    >
      <div
        class="modal"
        role="document"
        aria-labelledby="modal-title"
        aria-describedby="modal-message"
      >
        <button
          type="button"
          class="modal-close-btn"
          id="modal-close-btn"
          aria-label="Close modal window"
        >
          <svg class="close-icon" width="32" height="32" aria-hidden="true">
            <use href="./img/icons.svg#icon-cross"></use>
          </svg>
        </button>
        <h3 class="modal-title" id="modal-title">
          Thank you for your interest in cooperation!
        </h3>
        <p class="modal-message" id="modal-message">
          The manager will contact you shortly to discuss further details and
          opportunities for cooperation. Please stay in touch.
        </p>
      </div>
    </div>
  </div>
</section>
