.about-title {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  color: #292929;
  width: 217px;
  height: 64px;
  margin-left: 2px;
}

.span {
  color: #00b068;
}

.about-foto {
  border-radius: 16px;
  width: 320px;
  height: 374px;
  margin-top: 40px;
}

@media (min-width: 320px) and (max-width: 360px) {
  .about-foto {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 40px auto 0;
  }
}

.about-bio {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 40px;
}

.about-subtitle {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #292929;
}

.text-one {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #292929;
  height: auto;
  max-width: 100%;
  margin-top: 32px;
}

.text-two {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.54;
  letter-spacing: 0.03em;
  color: #292929;
  margin-top: 24px;
  height: auto;
  max-width: 100%;
}
.about-educ {
  margin-top: 40px;
}

.about-list {
  position: relative;
  margin-top: 36px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 12px;
}
.about-list-item {
  margin-left: 32px;
}

.about-list-item::before {
  content: '';
  position: absolute;
  right: 5px;
  left: 5px;
  margin-top: 10px;
  border-radius: 1px;
  width: 4px;
  height: 4px;
  background: #00b068;
  transform: rotate(-180deg);
}
.about-item {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.54;
  letter-spacing: 0.03em;
  color: #292929;
}

.about-role {
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .about-section {
    max-width: 100%;
  }
  .about-container {
    position: relative;
    background-image: url('../img/about/about-dec-tablet.png');
    background-repeat: no-repeat;
    background-position: 390px 850px;
    background-size: auto;
  }

  .about-title {
    font-size: 108px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    width: 442px;
    height: 124px;
  }

  .picture-bio {
    display: flex;
    gap: 32px;
    justify-content: space-between;
  }
  .about-foto {
    width: 336px;
    height: 392px;
    margin-top: 408px;
  }

  .about-bio {
    width: 336px;
    margin-top: 40px;
  }
  .text-one {
    max-width: 336px;
    line-height: 1.51;
  }

  .text-two {
    max-width: 336px;
    margin-top: 24px;
  }

  .about-subtitle {
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: 0.01em;
  }

  .about-tab {
    display: flex;
    gap: 32px;
    margin-top: 60px;
  }
  .about-educ {
    width: 336px;
    margin-top: 0px;
  }

  .about-role {
    margin-top: 0px;
    top: 5px;
    left: 368px;
  }
}

@media screen and (min-width: 1280px) {
  .about-container {
    background-image: url('../img/about/about-dec-desctop.png');
    background-position: 855px 685px;
  }

  .picture-bio {
    gap: 136px;
  }

  .about-foto {
    width: 384px;
    height: 448px;
    margin-top: 312px;
    margin-left: 210px;
  }

  .about-bio {
    width: 488px;
    margin-top: ;
  }

  .text-one {
    max-width: 488px;
    height: 168px;
  }

  .text-two {
    max-width: 488px;
    height: 216px;
    margin-top: 24px;
  }

  .about-tab {
    gap: 136px;
    margin-top: 80px;
    margin-left: 210px;
  }
  .about-educ {
    width: 384px;
  }
}
