.benefits-container {
  padding-left: 20px;
  padding-right: 20px;
}

.benefits-title,
.benefits-span-title {
  font-family: Impact;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.benefits-title {
  color: #292929;
  margin-bottom: 40px;
}
.benefits-item {
  width: 320px;
}
.benefits-span-title {
  color: #00b068;
}

.benefits-background-icon {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background: #bcdfd1;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 32px;
  margin-bottom: 16px;
}

.benefits-caption {
  color: #292929;

  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  margin-bottom: 16px;
}
.benefits-desc {
  color: #292929;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.5px;
}
@media screen and (max-width: 767px) {
  .benefits-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .benefits-item {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .benefits-title,
  .benefits-span-title {
    font-size: 108px;
    line-height: 124px;
  }
  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  .benefits-item:first-child {
    width: 100%;
    padding-left: 368px;
  }
}
