.mobile-menu {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1001;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    /* transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); */
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 0ms linear 250ms;
}

.mobile-menu.is-open {
    opacity: 1;
    z-index: 1001;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 0ms linear;
    overflow: hidden;
}

.menu-modal-head {
    position: fixed;
    top: 0;
    width: 100%;
    width: 320px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0 auto;
}

.close-icon {
    stroke: #292929;
}

.close-button {
    margin-left: auto;
    padding: 16px 0;
}

.mobile-menu-container {
    display: flex;
    position: relative;
    background-image: url(/img/mobile-background.png);
    background-repeat: no-repeat;
    min-width: 320px;
    max-width: 360px;
    padding-top: 64px;
    height: 100%;
    background-position: top 80px left -5px;
}

.mobile-menu-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    margin: 0 auto;
    height: 100%;
}

.menu-nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    height: 120px;
}

.nav-menu-link {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-link:hover,
.nav-menulink:focus {
    color: #00B068;
}

@media screen and (min-width: 361px) {
    .menu-modal-head {
        padding: 0;
    }
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}