.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  letter-spacing: 0.06em;
}

.header-logo,
.burger-btn,
.header-nav-link {
  padding-top: 16px;
  padding-bottom: 16px;
}

.burger-btn,
.theme-btn {
  margin-left: auto;
}

@media (max-width: 767px) {
  .header-nav-list,
  .theme-btn {
    display: none;
  }
}

@media (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-logo {
    font-size: 32px;
    letter-spacing: 0.05em;
  }

  .header-nav-list {
    display: flex;
    gap: 40px;
    margin-left: 40px;
  }

  .theme-btn {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    min-width: 48px;
    max-height: 24px;

    border-radius: 16px;
    background: #e4e5e6;
  }
}
