.hero-container {
  padding-top: 112px;
  background-image: url(/img/mobile-background.png);
    background-repeat: no-repeat;
    background-position: top 40px left 49px;
    background-size: auto;
}

.hero-avatar {
  display: none;
}

.hero-wrapper {
  margin-bottom: 72px;
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.hero-title {
  margin-bottom: 40px;
}

.hero-link {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.hero-link::after {
  content: '';
  min-width: 165px;
  height: 92px;
  background: #bcdfd1;
  left: 45%;
  z-index: -1;
  position: absolute;
  border-radius: 16px;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

.hero-link:hover::after,
.hero-link:focus::after {
  transform: translateX(-110px);
  background-color: var(--hero-link-color);
}

.order-project-arrow {
  fill: #00b068;
  animation: moveRight 1.5s ease-in-out infinite;
}

@keyframes moveRight {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
}

.hero-text {
  letter-spacing: 0.03em;
  margin-bottom: 72px;
  max-width: 320px;
}

.hero-soc-links-container {
  padding: 32px 0px;
  background-color: #e4e5e6;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

@media (min-width: 768px) {
  .hero-container {
    padding-top: 88px;
    background-image: url(/img/hero/hero-bg-tablet.png);
      background-repeat: no-repeat;
      background-size: auto;
      background-position: top 33px left 33px;
  }

  .hero-title {
    margin-bottom: 60px;
  }

  .hero-wrapper {
    margin-bottom: 80px;
  }

  .hero-div-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;

    line-height: 160%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #292929;
  }

  .hero-link::after {
    height: 96px;
      min-width: 261px;
      left: 22%;
  }

  .hero-link:hover::after,
  .hero-link:focus::after {
    min-width: 261px;
    transform: translateX(-120px);
    transition: transform 0.5s ease-in-out;
    background-color: var(--hero-link-color);
  }

  .hero-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.03em;
    max-width: 704px;
    margin-bottom: 80px;
  }

  .hero-soc-links-container {
    flex-direction: row !important;
    align-items: baseline;
    padding: 40px 0px !important;
    gap: 40px !important;
  }
}

@media (min-width: 1280px) {
  .hero-container {
    padding-top: 184px;
    background-image: url(/img/hero/hero-bg-desktop.png);
    background-position: top 15px left 0;
  }

  .hero-title {
    margin-bottom: 80px;
  }

  .hero-link-element {
    left: 12.5%;
  }

  .hero-avatar {
    display: inline-block;
    border-radius: 16px;
  }

  .hero-wrapper {
    margin-bottom: 132px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .hero-text {
    max-width: 592px;
  }

  .hero-div-link {
    margin-bottom: 0;
  }

    .hero-link::after {
      left: 62%;
    }
  
    .hero-link:hover::after,
    .hero-link:focus::after {
      transform: translateX(-120px);
      transition: transform 0.5s ease-in-out;
      background-color: var(--hero-link-color);
    }

}
