.projects {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 400;
  font-size: 52px;
  line-height: 64px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #00b068;
}

.svg-projects {
    stroke: #00B068;
}

.my-span {
  color: #292929;
}

.gallery-project {
  margin: 0 auto;
  max-width: 360px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  padding: 0;
}

.img-projects {
  border-radius: 16px;
  width: 320px;
  height: 184px;
}

.gallery-project-link {
  width: 125px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: lightgrey;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #292929;
  transition: 0.5s;
}

.projects-text-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.technology-projects {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #292929;
}

.project-name {
  color: #292929;
  max-width: 320px;
  text-transform: uppercase;
}

.gallery-project-link:hover {
  background-color: gray;
} 

.load-btn-projects {
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: black;

  background-color: rgba(28, 28, 28, 0);
  border: 0;
  transition: 0.5s;

  border-bottom: 3px solid #00b068;
}

.load-btn-projects:hover {
  color: #00b068;
}

@media screen and (max-width: 767px) {
  .projects-text-btn {
    display: block;
  }
  .gallery-project-link {
    margin-top: 12px;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .projects {
    font-size: 108px;
    line-height: 115%;
    letter-spacing: 0.02em;
  }

  .gallery-project {
    max-width: 768px;
    margin-top: 60px;
    gap: 60px;
  }

  .img-projects {
    border-radius: 24px;
    width: 704px;
    height: 404px;
  }

  .project-name {
    max-width: 547px;
    font-size: 36px;
    line-height: 133%;
    letter-spacing: 0.01em;
  }

  .projects-text-btn {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .gallery-project {
    max-width: 1280px;
    margin-top: 80px;
    gap: 80px;
  }

  .img-projects {
    width: 1008px;
    height: 580px;
  }

  .project-name {
    max-width: 763px;
  }
}
