@import 'https://unpkg.com/swiper/swiper/css/bundle';

/* Custom styles for disabled buttons */
.reviews-galery-prev-btn:disabled,
.reviews-galery-next-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.reviews-title {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23077;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
}

.swiper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  width: 320px;
  height: 360px;
}

.reviews-navigation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  width: 96px;
  height: 40px;
}

.swiper-button-next {
  border: 1px solid #292929;
  border-radius: 8px;
  padding: 12px;
  width: 40px;
  height: 40px;
  padding: 0;
}

.swiper-button-next {
  border: 1px solid #292929;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: transparent; */
  cursor: pointer;
}
.reviews-navigation-icon {
  width: 24px;
  height: 24px;
  /* transform: rotate(-180deg);
  fill: #292929;
  stroke: #292929; */
}
